@use '../mixins/typography' as *;
@use '../mixins/fonts' as *;

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #1a202c;
  font-size: 62.5%;
}

body {
  letter-spacing: 0;
  background-color: #f7fafc;
  font-size: 1.6rem;

}

@include setFontFace("'Nunito Sans', serif", 'NunitoSans-Bold', bold);
@include setFontFace("'Nunito Sans', serif", 'NunitoSans-Regular', normal);
@include setFontFace("'Nunito Sans', serif", 'NunitoSans-SemiBold', 600);

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.25;
}

h1 {
  @include heading-1
}

h2 {
  @include heading-2
}

h3 {
  @include heading-3
}

h4 {
  @include heading-4
}

h5 {
  @include heading-5
}

p {
  @include paragraph
}