html {
    font-size: 100%;
    color: #1a202c;
}

body {
    letter-spacing: 0;
    background-color: #f7fafc;
    font-size: 1rem;
    font-family: var(--font-nunito-sans), sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: #000000;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1.25;
}

h1 {
    font-size: var(--heading1);
    font-family: var(--font-nunito-sans);
    font-weight: 700;
    font-style: normal;
}

h2 {
    font-size: var(--heading2);
    font-family: var(--font-nunito-sans);
    font-weight: 700;
    font-style: normal;
}

h3 {
    font-size: var(--heading3);
    font-family: var(--font-nunito-sans);
    font-weight: 600;
    font-style: normal;
}

h4 {
    font-size: var(--heading4);
    font-family: var(--font-nunito-sans);
    font-weight: 600;
    font-style: normal;
}

h5 {
    font-size: var(--smallHeading);
    font-family: var(--font-nunito-sans);
    font-weight: 600;
    font-style: normal;
}

p {
    font-size: var(--baseFontSize);
    line-height: 1.25;
    font-family: var(--font-nunito-sans);
    font-weight: 400;
    font-style: normal;
}

small {font-size: var(--extraSmallFont);}
