:root {
    /* Core */
    --siteMaxWidth: 1920px;
    --baseFontSize: 1rem;

    /* Colours */
    --dark-purple: #160F29;
    --dark-teal: #246A73;
    --light-teal: #368F8B;
    --light-beige: #F3DFC1;
    --dark-beige: #DDBEA8;

    /* Typography */
    --heading1: 3.052rem;
    --heading2: 2.441rem;
    --heading3: 1.953rem;
    --heading4: 1.563rem;
    --smallHeading: 1.25rem;
    --extraSmallFont: 0.8rem;

    /* Spacing */
    --space-4:   calc(0.25 * var(--baseFontSize));
    --space-8:   calc(0.5 * var(--baseFontSize));
    --space-12:  calc(0.75 * var(--baseFontSize));
    --space-16:  calc(1 * var(--baseFontSize));
    --space-20:  calc(1.25 * var(--baseFontSize));
    --space-24:  calc(1.5 * var(--baseFontSize));
    --space-28:  calc(1.75 * var(--baseFontSize));
    --space-32:  calc(2 * var(--baseFontSize));
    --space-52:  calc(3.25 * var(--baseFontSize));
    --space-84:  calc(5.25 * var(--baseFontSize));


    /* border radius */
    --baseRadius: var(--space-8);
}
