:root {
    /* Core */
    --siteMaxWidth: 1920px;
    --baseFontSize: 1rem;

    /* Colours */
    --dark-purple: #160F29;
    --dark-teal: #246A73;
    --light-teal: #368F8B;
    --light-beige: #F3DFC1;
    --dark-beige: #DDBEA8;
}
