@value bp-medium from "@styles/core/breakpoints.css";

.test {
  max-width: var(--siteMaxWidth);
  margin: 0 auto;
  width: 100%;

  @media bp-medium {
      background-color: var(--light-teal);
    }

}
