@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin hoverFocus {
  @include hover {
    @content;
  }
  &:focus {
    @content;
  }
}

@mixin truncateText($width: 100%) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: $width;
}