@use '../core/vars' as *;
@use '../mixins/breakpoints' as *;

@mixin font-regular {
  font-weight: normal;
}

@mixin font-bold {
  font-weight: bold;
}

@mixin font-semi-bold {
  font-weight: 600;
}

@mixin font-style-normal {
  font-style: normal;
}

@mixin heading-1 {
  font-size: 4.209rem;
  font-family: $fontNunitoSans;
  @include font-bold;
  @include font-style-normal;
}

@mixin heading-2 {
  font-size: 3.157rem;
  font-family: $fontNunitoSans;
  @include font-bold;
  @include font-style-normal;
}

@mixin heading-3 {
  font-size: 2.369rem;
  font-family: $fontNunitoSans;
  @include font-semi-bold;
  @include font-style-normal;
}

@mixin heading-4 {
  font-size: 1.777rem;
  font-family: $fontNunitoSans;
  @include font-semi-bold;
  @include font-style-normal;
}

@mixin heading-5 {
  font-size: 1.333rem;
  font-family: $fontNunitoSans;
  @include font-semi-bold;
  @include font-style-normal;
}

@mixin paragraph {
  font-size: 1.6rem;
  line-height: 1.25;
  font-family: $fontNunitoSans;
  @include font-regular;
  @include font-style-normal;
  letter-spacing: 1px;
  margin: 0;

  @include breakpoint('md') {
    font-size: 2rem;
  }
}